
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$auth-app-cli-ng-primary: mat.define-palette(mat.$indigo-palette);
$auth-app-cli-ng-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$auth-app-cli-ng-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$auth-app-cli-ng-theme: mat.define-light-theme((
  color: (
    primary: $auth-app-cli-ng-primary,
    accent: $auth-app-cli-ng-accent,
    warn: $auth-app-cli-ng-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($auth-app-cli-ng-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.g-spacer {
  flex-grow: 1;
}

.g-dialog-panel-class {
  max-width: none !important;

  .mat-dialog-container {
    padding: 0;
  }

  .mat-dialog-content {
    max-height: initial !important;
    margin: 0 !important;
    padding: 6px !important;
  }
}
